<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>data_user</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data_user">Create data_user</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="data_user-page">
      <form action="/home/delete/confirm-delete" method="post">
        <div class="container">
          <form>
            <div class="mb-1 col-6 mx-3 mt-5 d-none">
              <label for="id" class="form-label">id</label>
              <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                value="<%=currentUser.id%>"
              />
              <div class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>

            <div class="mb-1 col-6 mx-3 mt-5">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="<%=currentUser.email%>"
              />
              <div class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-1 col-6 mx-3">
              <label for="exampleInputEmail1" class="form-label"
                >data_user Name</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="data_userName"
                value="<%=currentUser.userName%>"
              />
            </div>
            <div class="mb-3 col-6 mx-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="pass"
                value="<%=currentUser.pass%> "
              />
            </div>
            <div class="col-12 mx-3">
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </body>
</html>
